.Header {
    position: relative;
    display: flex;
    justify-content: center;
}
.Header::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../public/img/Header/Header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.Header::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-900);
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) , var(--dark-900) 80%);
    opacity: 0.7;
    z-index: 0;
}
.Header > * {
    z-index: 1;
}
.Header-main-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 50px;
    margin-left: 70px;
}
.Header-logo-wrap {
    position: relative;
    width: 420px;
    height: 570px;
}
.Header-logo-wrap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--dark-850);
    border: 1px solid var(--dark-800);
    filter: brightness(1.1);
    opacity: 0.8;
    clip-path: circle(200px at 50% 63%);
}
.Header-logo-wrap-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 48%, 0 48%);
}
.Header-logo-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: circle(200px at 50% 63%);
}
.Header-logo-box img {
    width: 100%;
    height: 100%;
}
.Header-titles {
    width: 50%;
    display: flex;
    justify-content: center;    
    flex-direction: column;
}
.Header-logo-title {
    font-family: var(--Caveat);
    font-size: 4.5rem;
    color: var(--white-100);
    text-transform: capitalize;
}
.Header-logo-title span, .Header-logo-title-desc span:first-child {
    color: var(--gold-400);
}
.Header-logo-title-desc {
    font-family: var(--Caveat);
    font-size: 3rem;
    text-transform: capitalize;
    margin-top: 10px;
    color: var(--white-100);
}
.Header-logo-title-desc span:last-child {
    color: var(--dark-780);
}
.Header-btns {
    margin-top: 40px;
    display: flex;
    column-gap: 20px;
}
.see-all-courses-btn {
    width: 250px;
    padding: 15px 0;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--gold-400);
    text-transform: capitalize;
    color: var(--dark-900);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    transition: .4s;
    text-decoration: none;
}
.see-all-courses-btn:hover {
    filter: brightness(0.8);
}
.github-btn {
    width: 54px;
    border: 1px solid var(--dark-780);
    background-color: var(--dark-800);
    color: var(--white-100);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 100%;
    transition: .4s;
}
.github-btn:hover {
    filter: brightness(0.8);
}
.search-group {
    margin-top: 50px;
    width: 100%;
    height: 65px;
    border-radius: 25px;
    background: var(--dark-850);
    border: 1px solid var(--dark-800);
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 8px 24px;
}
.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0 20px;
    font-size: 1.1rem;
    color: var(--white-100);
}
.enter-search-btn {
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
    background: var(--white-100);
    transition: .4s;
}
.enter-search-btn:hover {
    background: var(--gold-400);
}
.mouse-cursor {
    margin: 50px auto 0 auto;
    margin-top: 50px;
    animation: mouse-cursor .8s ease-in infinite alternate;
}
@keyframes mouse-cursor {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(15px);
    }
}