.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Nav-logo {
    font-size: 3rem;
    color: var(--gold-400);
}
.Nav-logo span {
    color: var(--dark-800);
}